body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BDCDD6;
    font-family: 'Lato', 'Sans-serif';
}